.colors_wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.color_wrapper {
  display: flex;
  align-items: center;
  padding-block: 4px;
  padding-inline: 6px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(183, 183, 183);

  & > span {
    margin-right: 8px;
  }
}